pandas
numpy
seaborn
langchain
langchain-huggingface
langchain-core==0.3.35
langchain-community==0.3.17
langchain-ollama
langchain_core
huggingface_hub
transformers
openpyxl
PyYAML>=5.4
matplotlib
vllm
together
openai==0.28
sentence-transformers
scipy
tqdm